html, body{
    height: 100%;
    width: 100%;
}
.price{
    color: red;
}
.name{
    color: purple;
}
.card{
    height: 300px;
    width: 250px;
    background-color: burlywood;
    text-align: center;
     border-radius: 10px;
}
section{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    background-color: black;
   
}
button{
    padding: 10px 30px;
}