{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/addtocart.css' %}">
</head>
<body>

    <section>
    {% block card %}
    
    {% for items in data %}
    
        <div class="card">
    
    
    {% if items.image %}
    
            <img height="100px" src="{{items.image.url}}" alt="{{items.name}}" srcset="">

        {% else %}
        <strong>no image found </strong>    

        
    {% endif %}
    <h1 class="name">{{items.name}}</h1>
    <h2 class="price">{{items.price}}</h2>

    <button>Buy Now</button>

    </div>
    
    {% endfor %}

    {% endblock %}
    </section>
    
</body>
</html>