{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | ShopEase</title>

    <link rel="stylesheet" href="{% static 'logincss/login.css' %}">
</head>

<body>

     <section>
        {% block card %}
        {% for items in info %}
        <div class="card">
            <h1 class="name">{{items.name}}</h1>
            <h2 class="email">{{items.email}}</h2>

        </div>
        {% endfor %}
        {% endblock %}
     </section>

</body>

</html>